
header {
    background-color: grey;
    width: 100%;
    padding: 40px 0 60px;

    display: inline-block;

  animation: backInDown; 
  animation-duration: 1s; 
}

header .title {
    padding: 10px;
}

header .title h1 {
    text-align: center;
}

header .links {
    text-align: end;
}

header .links img {
    height: 40px;
    width: 40px;
    margin: 0 4px;

    display: inline-block;

    animation: backInLeft; 
    animation-duration: 2.5s;
}